* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* margin: 0; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    /* background-position: top;
    background-size: auto;
    transition: background 0.2s linear; */
}

a {
    text-decoration: none;
    color: #212529;
    font-size: 1rem;
    font-weight: 750;
}
a.dark {
    color: #fafafa;
}

li {
    list-style: none;
}

body.dark {
    background-color: #292c35;
    color: #fafafa;
}

.navbar.dark {
    background-color: #292c35;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    border: 1px solid black;
    width: 50px;
    height: 26px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.selector {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .selector {
    transform: translateX(24px);
}

.fa-moon {
    color: pink;
}

.fa-sun {
    color: yellow;

    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #292c35;
    position: fixed;
    top: 0;
    left: 0;

    /* z-index: 2; */
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    background-color: #fff;
}

.nav-links ul li div {
    text-decoration: none;
}

.nav-links a {
    color: #fff;
}

.logo {
    font-size: 32px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li {
    padding: 5px 14px;
}

#home-container {
    background-image: url("../img/home.jpg");
    height: 1044px;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 88px;

    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 700px; */
}

@media only screen and (max-width: 767px) {
    #home-container {
        background-image: url("../img/home.jpg");
    }
}
