* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-position: top;
    background-size: auto;
    transition: background 0.2s linear;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body.dark {
    background-color: #292c35;
    color: #fafafa;
}

.navbar.dark {
    background-color: #292c35;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 50px;
    height: 26px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.selector {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .selector {
    transform: translateX(24px);
}

.fa-moon {
    color: pink;
}

.fa-sun {
    color: yellow;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #292c35;
    position: fixed;
    z-index: 2;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    background-color: #fff;
}

.nav-links ul li div {
    text-decoration: none;
}

.nav-links a {
    color: #fff;
}

.logo {
    font-size: 32px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li {
    padding: 5px 14px;
}

#home-container {
    background-image: url("../img/home.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 700px;
}
@media only screen and (max-width: 767px) {
    #home-container {
        background-image: url("../img/home.jpg");
    }
}
